

/*==================RESET==================*/



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, html {font-family: "Montserrat", Arial, Helvetica, sans-serif; line-height: 1; overflow-x: hidden; }

body {background-color: var(--quinary-color)}


ul {list-style: none;}




/*==================COLORS==================*/


:root {

    /* Backgrounds*/

    --primary-color: #f8754C;
    --secondary-color: #E4EFEF;
    --tertiary-color: #188c8d;
    --quaternary-color: #fbfbfb;
    --quinary-color: #000000;
    --senary-color: #141414;

    /*Testi*/

    --text-non-selected: #b3b3b3;
    --text-selected: #fff;

}

/*==================FONTS==================*/

h1, h2, h3 { color: var(--quaternary-color)}

h1 {font-size: 44px;}
h2 {font-size: 32px;}
h3 {font-size: 20px;}
p { font-size: 12px;}
a { font-size: 14px; text-decoration: none; color: var(--quaternary-color);}

/*==================GENERAL==================*/

/*main padding*/

header {padding: 10px 20px;}

main {padding: 0 20px;}

footer {padding: 0 20px;}

/* span space */

.span__1 {display: block; height: 30px;}
.span__2 {display: block; height: 20px;}
.span__3 {display: block; height: 15px;}

/* colonne */

.col-100 {width: 100%; height: auto;}
.col-50 {width: 50%; height: auto;  }
.col-33 {width: 33.33; height: auto;}
.col-20 {width: 20%; height: auto;  }

/*==================BUTTONS==================*/

button { outline: none; border:none; padding: 12px 24px; white-space: nowrap; border-radius: 100px;}

button a{font-family: "Montserrat"; }

.button-nero {background-color: var(--senary-color);}

.button-nero a{color: var(--quaternary-color);}

.button-bianco {background-color: var(--secondary-color);}

.button-bianco a{color: var(--quinary-color);}

/*==================HEADER==================*/

header {display:flex; align-items:center; width: 100%; min-height: 100px;}


.wrapper__menu { display: flex; justify-content: space-between; align-items: center; width: 100%; height: 45px; overflow: hidden; }

/* logo */

.logo{ display: flex; align-items:center; width: auto; height:100%;}

.logo__img {width: auto; height: 45px; cursor: pointer;}
/* nav */

.menu{ display: flex; justify-content: center; width: auto; min-width: 300px; height:100%; background-color: var(--senary-color); padding: 0 20px; border-radius:20px;}

.menu ul{display: flex; align-items: center; gap: 24px;}

.menu li{display: inline;}

/* button menu */

.buttons__menu{ display: flex; width: auto; height: 100%; gap: 10px;}


/*==================MAIN==================*/


/* hero */ 

.wrapper__hero{ display: flex; justify-content:center; width: 100%; height: auto;}

.hero__content { display: flex; flex-direction: column; align-items: center;}

.hero__text {display: flex; flex-direction: column; align-items: center;}

.hero__img {display: flex; justify-content:center; width: auto; height: auto;}

.hero__img img{ width: 60%; height: auto;}




/*==================FOOTER==================*/