

/*==================RESET==================*/



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {outline: none; border:none; padding: 10px 15px; border-radius: 20px;}

a{text-decoration: none;}

ul {list-style: none;}




/*==================COLORS==================*/


:root {

    /* Backgrounds*/

    --primary-color: #f8754C;
    --secondary-color: #E4EFEF;
    --tertiary-color: #188c8d;
    --quaternary-color: #fbfbfb;
    --quinary-color: #000000;
    --senary-color: #141414;

    /*Testi*/

    --text-non-selected: #b3b3b3;
    --text-selected: #fff;

}

/*==================FONTS==================*/



/*==================GENERAL==================*/


body, html {font-family: "Montserrat", Arial, Helvetica, sans-serif; line-height: 1; overflow-x: hidden; }

body {background-color: var(--quinary-color)}



/*==================BUTTONS==================*/




/*==================HEADER==================*/




/*==================MAIN==================*/


/*==================FOOTER==================*/